<% provide(:title, 'Homepage') %>

<h1>Jeffrey Gu [dot] com</h1>
<p>你好! Jeffrey Gu here! This is my website, where you can fill out a form to contact me, find my resume, or check out some hikes I've been on!</p>