<% provide(:title, 'Homepage') %>
<h1>Welcome!</h1>
<center> <p>您好！ Jeffrey Gu here!<br>
 <br>This is my personal website, where you can fill out a form to contact me, <br>find my resume, or just check out some hikes I've been on!</p> </center>
