<% provide(:title, 'Homepage') %>
<h1>Welcome!</h1>
<center><%= link_to image_tag("ProfPic.jpg", alt: "Pic of Jeff") %></center><br>
<center> <p style="font-size:22px">您好！ Jeffrey Gu here!<br>
 <br>This is my personal website, where <br>you can fill out a form to contact me, <br>find my resume, or just <br>check out some hikes I've been on!</p> </center>
