<% provide(:title, 'Homepage') %>

<<<<<<< HEAD
<h1>Welcome</h1>
<center> <p>您好！ Jeffrey Gu here!<br>
 <br>This is my personal website, where you can fill out a form to contact me, <br>find my resume, or just check out some hikes I've been on!</p> </center>
=======
<h1>Jeffrey Gu [dot] com</h1>
<center> <p>您好！ Jeffrey Gu here! <br>This is my website, where you can fill out a form to contact me, <br>find my resume, or check out some hikes I've been on!</p> </center>
>>>>>>> d91b771614447ff9e134bbb0c63e9d34a763844a
