<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "jeffreygu.com", 'home', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Resume", 'resume',id: "smalllogo" %></li>
          <li><%= link_to "Mountain Hikes",    'hikes', id: "smalllogo" %></li>
          <li><%= link_to "Contact Me",    'contact', id: "smalllogo" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>